﻿.wrap_request {
width: auto;
background: #fff;
margin: 0 auto;
padding:0;
font-size:0.875em;
}
.wrap_request h1{
text-align: left;
color: #999;
font-size: 17px;
font-weight: bold;
border-bottom: 1px dotted #D3D3D3;

}
.dcity_title{
	width:78px;
	background:#53CBF1;
	color:#fff;
	padding:5px 20px 5px 8px;
	font-size:1em;
	font-weight:bold;
	border-radius:0 38px 0 0;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}
.dcity_title2{
	width:60px;
	background:#DB36A4;	
	color:#fff;
	padding:5px 20px 5px 8px;
	font-size:1em;
	font-weight:bold;
	border-radius:0 38px 0 0;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}
.dcity{
	width:auto;
	font-size:1em;
	font-weight:bold;
	padding:5px 5px 5px 8px;
	background:#E7E7E7;
	color:#111;
	border: 1px solid #E7E7E7;
}
.dcity span{
	float:right;
}
.dcity_data{
	width:auto;	
	background:#fff;
	color:#222;
	box-shadow:0 0 5px #ccc;
}
.clearfix{
	clear:both;
}
.d_day{
	width:auto;
	padding:15px;	
	float:left;
}
.d_date{
	width:auto;		
	padding:15px;
	float:left;
}
.d_img{
	width:auto;	
	padding:15px 0 0 15px;	
	float:left;
}
.d_img_line{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E7E7E7 #E7E7E7 #E7E7E7 transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    height: 56px;
    margin: 61px 0;
    width: 7px;
	float:left;
}
.d_time{
	width:322px;	
	padding:0;
	float:left;
	margin-left:30px;
}
.d_time_total{
	font-size:1em;
	margin-top:25px;
}
.d_day p,.d_date p{
	margin:0 0 20px 0;
	font:lighter 12px "Open Sans",sans-serif;
	color:#999;
}
.d_day p span,.d_date p span {
	font-style: normal;
	font-weight: normal;
	color: #111;
}
.f_d_img{
	margin:41px 0 0 -12px;
}
.s_d_img{
	margin:38px 0 0 -12px;
}
.d_table{
	width:322px;
	border:1px solid #fff;
	line-height:2.5em;
	margin-top:56px;
}
.wrap_request input[type="text"],.wrap_request input[type="email"]{
	width:180px;
	border:1px solid #9B2E03;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:4px;
	margin:10px 15px 10px 0;
}
.wrap_request input[type="submit"]{
	border:1px solid #9B2E03;
	color:#fff;
	background:#9B2E03;
	padding:5px 10px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	font-size:1em;
}