body {
 /* padding-top: 20px;
  padding-bottom: 20px;*/
}
.res{
	left: 20%;
    top: 52%;
    width: 60%;
	/*position:absolute;*/
	text-align:center;
}
.desc_detail{
	float:right;
	width:69%;
}
.keyword{
	display:block;
	margin-top:5px;
	text-align:center;
	border:1px solid black;
	border-radius:3px;
	padding:3px;
	margin-right:6px;
	display: inline-block;
	font-size:12px;
}
.form-horizontal{
	margin-left:24%;
}
.profiletitle{
	text-align:center;
}
.error {
    color: red;
    display: inline;
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), 
	local("RobotoSlab-Regular"), 
	url("y7lebkjgREBJK96VQi37Zo4P5ICox8Kq3LLUNMylGO4.woff2") format("woff2");
}
body a{
	transition:all 0.5s ease 0s;
}
.div-pagination{
	/*text-align:center;*/
}
.dropdown:hover .dropdown-menu {
    display: block;
 }
.navbar {
	margin-left:100px;
	margin-top:70px;
	z-index:10;
	margin-left:45%;
	padding-right:10px;
	position:absolute;
	margin-right:5%;
	padding-right:6%;
} 
#div-href{
	margin-right:17%;
}
.tag_detail{
	width:28%;
	float:left;
}
@media screen and (max-width: 320px) {
	.list-group-item:last-child{
		padding-top:1.5px !important;
	}
}
@media screen and (max-width: 1190px) {
.desc_detail{
	width:60% !important;
}
.tag_detail{
		width:auto;
	}
}
@media screen and (max-width: 1100px) {
.desc_detail{
	float:none ;
	display:inline-block ;
	width:100% !important;
}
}
@media screen and (max-width: 768px) {
.header-desc{
	margin-top:155px;
	width:90% !important;
	margin-left:5px !important;	
}
.well input {
    width: 145px !important;
}
.well select {
    width: 145px !important;
}
.res{
	width:100%;
	left:3%;
}
.form-horizontal{
	margin-left:0px !important;
}
.banner-bottom-grid{
	/*float:none !important;*/
}
.desmore {
	padding:5px 29px 2px !important;
}
.list-group-item{
	display:inline ;
	padding:7px;
	margin:-3px;
}
#sidebar{
	clear:both !important;
	height: 51px !important;
    width: 99% !important;
	float:none !important;
}
.header-desc-yangon{
	float:none !important;
	width:90% !important;
}
.travel-myanmar{
	 font-size: 25px !important;
	 margin:40px !important;
}
.form-control {
    border-radius: 3px !important;
    height: 28px ;
    width: 150px !important;
	margin-top:-12px !important;
	margin-right:30%;
}
.navbar-default {
  background: none;
  position:relative;
}
.navbar-collapse {
  background: #9CC303;
  width:300px;
}
.navbar-nav li a{
	 text-align:center;	
}
.navbar-fixed-top{
	width:100px;
}
.myanmar{
	margin-top:-1px !important;
}
.navbar {
	padding-right:6%;
	margin-top:0px;
	float:right;
}
.col-xs-6{
	width:27%;
}
a.list-group-item, button.list-group-item{
	font-size:9px;
}
}
.header-desc{
	width:40%;
	margin-top:240px;
	position:absolute;
	margin-left:49%;
	background-size:100%;
	font-family:"Roboto Slab",serif;
}
.header-desc-yangon{
	float: right;
    font-family: "Roboto Slab",serif;
    width: 50%;
	margin-top:1%;
}
.header{
 /* background:url(../images/yangon.jpg);*/
  position:relative;
  /*height:605px;*/
  background-repeat:no-repeat;
  background-size:cover;
  color:#fff;
}
.header-yangon{
 /* background:url(../images/yangon.jpg);*/
  position:relative;
  height:230px;
  background-repeat:no-repeat;
  background-size:cover;
}
.form-control{
	background:#9CC303;
	border-radius:10px !important;
}
.input-group{
	margin-top:-8px !important;
	margin-left:57px;
}
.navbar-collapse{
	float:right;
}
.travel-myanmar-header{
	float:left;
	position:absolute;
	margin:40px 40px 40px 120px;
}
.travel-myanmar{
	font-family:"Roboto Slab",serif;
	 font-size: 40px;
    font-weight: 400;
}
.header-desc a {
    background: #9cc303 none repeat scroll 0 0;
    border: medium none !important;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    padding: 12px 30px;
    text-decoration: none;
	position:absolute;
	margin-top:15px;
	cursor:pointer;
	transition: all 0.5s ease 0s;
}
.header-desc-yangon a {
    background: #9cc303 none repeat scroll 0 0;
    border: medium none !important;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    padding: 12px 30px;
    text-decoration: none;
	position:absolute;
	margin-top:15px;
	cursor:pointer;
	transition: all 0.5s ease 0s;
}
.header-desc-yangon a:hover {
    background: #fff none repeat scroll 0 0;
    color: #9cc303;
    text-decoration: none;
}
.header-desc a:hover {
    background: #fff none repeat scroll 0 0;
    color: #9cc303;
    text-decoration: none;
}
.more a {
    background: #9cc303 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    padding: 6px 35px 8px;
    text-decoration: none;
    transition: all 0.5s ease 0s;
	margin-right:24px;
}
.desmore  {
    background: #9cc303 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    padding: 6px 35px 8px;
    transition: all 0.5s ease 0s;
	margin-right:24px;
	cursor:pointer;
}
.desmore:hover {
    background: #62741A none repeat scroll 0 0;
    color: #a5ce03;
    text-decoration: none;
}
.more a:hover {
    background: #fff none repeat scroll 0 0;
    color: #a5ce03;
    text-decoration: none;
}
/*.banner-bottom-grid {
	float: right;
    width: 82%;
	position:relative;
	margin-top:2%;
	padding-bottom:14px;
	font-family: roboto slab;
}*/
.more {
   /* left: 58%;
    position: absolute;
    top: 80%;*/
}
.banner-bdy{
	/*background:url(../images/banner.jpg);*/
	/*min-height:1050px;*/
	/*min-height:755px;*/
	min-height:500px;
}
.banner-bottom {
    background: #fdfaf6 none repeat scroll 0 0;
}
.list-group a:hover{
	color:#333;
}
#footer{
	height: 43px;
    padding-top: 10px;
    text-align: center;
}
#sidebar{
	float: left; 
	height: 1098px;
	width:17%;
	margin-top:2%;
}
.btnres{
	margin-left:80px;
}
/*.banner-bottom-grid img {
    width: 250px;
	padding-right:20px;
}*/
.banner-img{
	width:36%;
}
.div-pagination a {
	padding:4px;
}
.well  input{
	height: 25px;
    margin: 4px 0 4px 26px;	
	width:185px;
	border:1px solid #cccccc;
	border-radius:4px;
}
.well  select{
	height: 22px;
    margin: 2px 0 2px 26px;
	width:185px;
}
ul.dropdown-menu{
	padding:5px 0px;
}
ul.dropdown-menu li{
	width:100%;
	margin:0px;
}
ul li.dropdown ul.dropdown-menu li a{
	padding:3px 20px;
}
ul.dropdown-menu li.last a{
 	border-bottom:0px;
}
@media (max-width: 640px){
	ul li.dropdown ul.dropdown-menu{
		top:45%;
		left:52%;
		width:48px;
	}
}
ul.dropdown-menu{
	top:160%;
	border-top:0px;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
}

ul li.dropdown{
	margin:0px;
}
ul li.dropdown a{
	padding:15px;
}
.nav1 .selected a, .nav1 .selected .dropdown-menu li a:hover{
	color:#000000;
}
.nav1 .selected .dropdown-menu li a{
	color:#fff;
}