
/* table */
table thead tr th.LeftAlign, table tbody tr td.LeftAlign {text-align: left; padding-left:5px;}
table thead tr a:link, table thead tr a:visited, table thead tr a:hover { font-weight:bold; }
table tbody td { padding: 5px 8px; vertical-align: top; }
  table thead th.first { -moz-border-radius-topleft: 7px; }
  table thead th.Date { width: 60px;}
table thead th.last { -moz-border-radius-topright: 7px; }
table tbody td.odd { text-align:left; }
table tbody td.even {text-align:left; background-color:white; }
table tbody td.odd { text-align:left; background-color:#C9E0ED; border:1px solid #e0f1fe;}
table tbody td.even {text-align:left; background-color:white; border:1px solid #e0f1fe;}
table.neo tbody td.order{padding:9px 9px 0px 9px;}
.btnCal{float:right;background-color: #A7BFD8;color: white; border: 1px solid black; border-radius: 6px;height: 22px;cursor: pointer;}
table.neo {font-family:Arial, Helvetica, sans-serif;font-size:12px;margin:10px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-moz-box-shadow: 0 1px 2px #d1d1d1;-webkit-box-shadow: 0 1px 2px #d1d1d1;box-shadow: 0 1px 2px #d1d1d1; border-collapse:collapse;}
table.neo tbody td{ padding:5px;border:1px solid #177fd0; }

table.border {font-family:Arial, Helvetica, sans-serif;font-size:12px;margin:10px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-moz-box-shadow: 0 1px 2px #d1d1d1;-webkit-box-shadow: 0 1px 2px #d1d1d1;box-shadow: 0 1px 2px #d1d1d1;}

table.view tbody td{padding:1px 2px;}
table.view tbody td.checkbox-column{padding:1px 3px;}
table.view thead th.checkbox-column{padding:3px 3px;}

table.payment {margin-left:15px; }
table.payment tbody td { padding: 5px 5px 5px 1px; vertical-align: middle; }